<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('证书-证书详情','index')">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>
<div id="detail" style="width: 80%;margin: 0 10% 0 10%;" >
    <nav th:replace="mall/header::nav-fragment"></nav>
    <div id="banner">
        <div class="info-head" style="height: 30px;">
            <div class="credentials-type fl" style="line-height:30px;width:10%;height: 30px; margin: 5% 0 0 5%;background: red;text-align: center;color: white;">
                <th:block th:text="${credentials.credentialsType}"></th:block>
            </div>
            <div class="credentials-title fl" style="width:50%;height:30px;line-height:30px;margin: 5% 0 0 5%;text-align: center;font-size: 20px;font-weight: bold;">
                <th:block th:text="${credentials.credentialsTitle}"></th:block>
            </div>
            <div class="return fl" style="background: cadetblue;height: 30px;line-height:30px;margin: 5%  15% 0 5%;width:10%;text-align: center;">
                <a href="/credential/" style="color: white;">返回</a>
            </div>
        </div>
            <div class="credentials-center">
                <div class="credentials-time fl" style="margin: 2% 0 0 25%;width: 15%;text-align: center;">
                    时间：<th:block th:text="${credentials.infoTime}"></th:block>
                </div>
                <div class="credentials-author fl" style="margin: 2% 35% 0 10%;width: 15%;text-align: center;">
                    作者：<th:block th:text="${credentials.credentialsAuthor}"></th:block>
                </div>
            </div>
            <div class="credentials-footer">
                <div class="credentials-value" style="margin: 13%  10% 20% 10%;width: 80%;">
                    <th:block th:utext="${credentials.credentialsValue}"></th:block>
                </div>
            </div>
    </div>



</div>
<div th:replace="mall/footer::footer-fragment"></div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/mall/js/swiper.min.js}" type="text/javascript"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/mall/js/index.js}" type="text/javascript"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
</body>
</html>