<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">

        <div class="footer-links w1100">
            <p>友情链接：</p>
            <div class="clearfix">
                <a th:href="@{/index}">商城</a>
                <a th:href="@{/admin}">后台管理系统</a>
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="    " target="_blank">Copyright ©深圳职业技术学院 不毕业小组 </a></p>
               
            </div>
        </div>

    </div>
</div>
</html>