<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online.exam.dao.CredentialsMapper">
    <resultMap id="BaseResultMap" type="com.online.exam.entity.Credential">
        <id column="credentials_id" jdbcType="INTEGER" property="credentialsId"/>
        <result column="credentials_type" jdbcType="VARCHAR" property="credentialsType"/>
        <result column="credentials_title" jdbcType="VARCHAR" property="credentialsTitle"/>
        <result column="credentials_time" jdbcType="TIMESTAMP" property="credentialsTime"/>
        <result column="credentials_author" jdbcType="VARCHAR" property="credentialsAuthor"/>
        <result column="credentials_value" jdbcType="VARCHAR" property="credentialsValue"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        credentials_id,credentials_type,credentials_title,credentials_time,credentials_author,credentials_value,is_deleted
  </sql>
    <select id="findCredentialsByNum" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_credentials
        where is_deleted = 0
        and credentials_type = #{credentialsType}
        limit #{number}
    </select>
    <select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_credentials
        where credentials_id = #{credentialsId}
    </select>

    <select id="findNewBeeMallCredentialsList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_credentials
        where is_deleted = 0
        order by credentials_id desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="getTotalNewBeeMallCredentials" parameterType="Map" resultType="int">
        select count(*) from tb_newbee_mall_credentials
    </select>

    <insert id="insertSelective" parameterType="com.online.exam.entity.New">
        insert into tb_newbee_mall_credentials
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="credentialsType != null">
                credentials_type,
            </if>
            <if test="credentialsTitle != null">
                credentials_title,
            </if>
            <if test="credentialsAuthor != null">
                credentials_author,
            </if>
            <if test="credentialsValue != null">
                credentials_value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="credentialsType != null">
                #{credentialsType,jdbcType=VARCHAR},
            </if>
            <if test="credentialsTitle != null">
                #{credentialsTitle,jdbcType=VARCHAR},
            </if>
            <if test="credentialsAuthor != null">
                #{credentialsAuthor,jdbcType=VARCHAR},
            </if>
            <if test="credentialsValue != null">
                #{credentialsValue,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.online.exam.entity.New">
        update tb_newbee_mall_credentials
        <set>
            <if test="credentialsType != null">
                credentials_type = #{credentialsType,jdbcType=VARCHAR},
            </if>
            <if test="credentialsTitle != null">
                credentials_title = #{credentialsTitle,jdbcType=VARCHAR},
            </if>
            <if test="credentialsAuthor != null">
                credentials_author = #{credentialsAuthor,jdbcType=VARCHAR},
            </if>
            <if test="credentialsValue != null">
                credentials_value = #{credentialsValue,jdbcType=LONGVARCHAR},
            </if>
            <if test="credentialsTime != null">
                credentials_time = #{credentialsTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where credentials_id = #{credentialsId}
    </update>
    <update id="deleteCredentials">
        update tb_newbee_mall_credentials
        set is_deleted=1 where credentials_id in
        <foreach item="id" collection="orderIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>